In [1]:
import pandas as pd
import re
import numpy as np
from requests import request
from PIL import Image

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv('imgs_name.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72986 entries, 0 to 72985
Data columns (total 1 columns):
image_name    72986 non-null object
dtypes: object(1)
memory usage: 570.3+ KB

In [3]:
def f(x):
    return int(re.findall(r'\d+[ra]', x)[0][:-1])

In [4]:
df['index'] = df['image_name'].apply(f)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72986 entries, 0 to 72985
Data columns (total 2 columns):
image_name    72986 non-null object
index         72986 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [6]:
df = pd.DataFrame({'index':df.drop(df[df['image_name'].str.contains('\(')].index)['index']})

In [7]:
df = df.drop_duplicates().sort_values(by='index').reset_index().drop('level_0', axis=1)

In [8]:
df.head()

   index
0      0
1      1
2      2
3      3
4      4

In [9]:
df.tail()

       index
36487  36989
36488  36990
36489  36991
36490  36992
36491  36993

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36492 entries, 0 to 36491
Data columns (total 1 columns):
index    36492 non-null int64
dtypes: int64(1)
memory usage: 285.2 KB

In [11]:
data = pd.read_csv('catalognew (3).csv', sep=',', encoding='utf-8')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68675 entries, 0 to 68674
Data columns (total 47 columns):
catalog                   68675 non-null int64
group                     68675 non-null int64
name                      68665 non-null object
yearstart                 68675 non-null int64
metal                     68675 non-null int64
probe                     15409 non-null float64
procent                   259 non-null object
amount                    22461 non-null float64
size                      68571 non-null float64
thick                     4933 non-null float64
weight                    15712 non-null float64
condition                 21403 non-null float64
herd                      2385 non-null object
averslegend               1264 non-null object
translateaverslegend      0 non-null float64
reverselegend             1277 non-null object
translatereverselegend    0 non-null float64
mint                      378 non-null object
designer                  325 non-null object
officialdate              5230 non-null object
officialdate_period       68675 non-null int64
image_small_url           65962 non-null object
image_marker              30967 non-null object
shopcoins_for_image       68675 non-null int64
image_big_url             65940 non-null object
details                   56962 non-null object
km                        3878 non-null object
dateinsert                68675 non-null int64
user                      68675 non-null int64
agreement                 68675 non-null int64
materialtype              68675 non-null int64
checkadmintype            68675 non-null int64
checkadmin                68675 non-null int64
sourceurl                 167 non-null object
accessoryProducer         333 non-null object
accessoryColors           133 non-null object
accessorySize             238 non-null object
relationKM                68675 non-null int64
catalogpositionname       68675 non-null int64
shopcoinsimage            68675 non-null int64
android                   68675 non-null int64
mintid                    68675 non-null int64
seriesid                  68675 non-null int64
saction                   68675 non-null int64
nominal_id                68675 non-null int64
pm                        68675 non-null int64
show_in_future            68675 non-null int64
dtypes: float64(8), int64(22), object(17)
memory usage: 24.6+ MB

c:\program files\python37\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (6,12,13,15,17,18,19,26,33,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
data = data[pd.notnull(data['image_marker'])].sort_values('catalog')
data.head()

    catalog  group      name  yearstart  metal  probe procent  amount  size  thick  weight  condition herd averslegend  translateaverslegend reverselegend  translatereverselegend mint designer officialdate  officialdate_period image_small_url        image_marker  shopcoins_for_image image_big_url                                          details   km  dateinsert  user  agreement  materialtype  checkadmintype  checkadmin sourceurl accessoryProducer accessoryColors accessorySize  relationKM  catalogpositionname  shopcoinsimage  android  mintid  seriesid  saction  nominal_id  pm  show_in_future
0         1    362  1 флорин       1963      1    0.0     NaN     0.0   0.0    NaN   11.31        NaN  NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0        is/1.jpg  01/519/088/1519088                    0       i/1.jpg                                     Елизавета II   60  1162747903   811          1             1               1           1       NaN               NaN             NaN           NaN           1                  187         1519088        0       0         0        0          21   0               0
1         2    362  1 флорин       1954      1    0.0     NaN     0.0   0.0    NaN   11.31        NaN  NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0        is/2.jpg  01/538/562/1538562                    0       i/2.jpg  "11,31 грамм, 500 проба. Королевский визит"\r\n   55  1162748060   811          1             1               1           1       NaN               NaN             NaN           NaN           1                  187         1538562        0       0         0        0          21   0               0
11       12    389  1 флорин       1889      1    NaN     NaN     NaN   0.0    NaN     NaN        NaN  NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/12.jpg  01/655/607/1655607                    0      i/12.jpg                                      Франк Иосиф  NaN  1162749542   811          1             1               0           0       NaN               NaN             NaN           NaN           0                  895         1655607        0       0         0        0          21   0               0
12       13    362  1 доллар       2005      3    0.0     NaN     0.0   0.0    NaN    0.00        NaN  NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/13.jpg  01/680/304/1680304                    0      i/13.jpg                                     Елизавета II  NaN  1162818540   811          1             1               0           0       NaN               NaN             NaN           NaN           0                  168         1680304        0       0         0        0          11   0               0
17       19    362  1 доллар       2003      3    NaN     NaN     NaN   0.0    NaN     NaN        NaN  NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/19.jpg  01/616/814/1616814                    0      i/19.jpg                                     Елизавета II  NaN  1162823070   811          1             1               0           0       NaN               NaN             NaN           NaN           0                  168         1616814        0       0         0        0          11   0               0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30967 entries, 0 to 68674
Data columns (total 47 columns):
catalog                   30967 non-null int64
group                     30967 non-null int64
name                      30966 non-null object
yearstart                 30967 non-null int64
metal                     30967 non-null int64
probe                     8995 non-null float64
procent                   112 non-null object
amount                    13285 non-null float64
size                      30965 non-null float64
thick                     2560 non-null float64
weight                    9242 non-null float64
condition                 8734 non-null float64
herd                      1577 non-null object
averslegend               720 non-null object
translateaverslegend      0 non-null float64
reverselegend             732 non-null object
translatereverselegend    0 non-null float64
mint                      171 non-null object
designer                  147 non-null object
officialdate              2545 non-null object
officialdate_period       30967 non-null int64
image_small_url           28450 non-null object
image_marker              30967 non-null object
shopcoins_for_image       30967 non-null int64
image_big_url             28429 non-null object
details                   26240 non-null object
km                        2878 non-null object
dateinsert                30967 non-null int64
user                      30967 non-null int64
agreement                 30967 non-null int64
materialtype              30967 non-null int64
checkadmintype            30967 non-null int64
checkadmin                30967 non-null int64
sourceurl                 74 non-null object
accessoryProducer         0 non-null object
accessoryColors           0 non-null object
accessorySize             0 non-null object
relationKM                30967 non-null int64
catalogpositionname       30967 non-null int64
shopcoinsimage            30967 non-null int64
android                   30967 non-null int64
mintid                    30967 non-null int64
seriesid                  30967 non-null int64
saction                   30967 non-null int64
nominal_id                30967 non-null int64
pm                        30967 non-null int64
show_in_future            30967 non-null int64
dtypes: float64(8), int64(22), object(17)
memory usage: 11.3+ MB

In [10]:
url = data[data['catalog'] == 25589].values[0, 22]
url = data[data['catalog'] == 25589].values[0, 22]
img = request('GET', f'https://www.numizmatik.ru/images/shopcoins/2000/{url}_a.jpg').content
with open(f'{25589}_a.jpg', 'wb') as f:
            f.write(img)
img = request('GET', f'https://www.numizmatik.ru/images/shopcoins/2000/{url}_r.jpg').content
with open(f'{25589}_r.jpg', 'wb') as f:
            f.write(img)

In [59]:
for line in data.values:
    try:
        img = request('GET', f'https://www.numizmatik.ru/images/shopcoins/2000/{line[22]}_a.jpg').content
        with open(f'images/{line[0]}_a.jpg', 'wb') as f:
            f.write(img)
        img = request('GET', f'https://www.numizmatik.ru/images/shopcoins/2000/{line[22]}_r.jpg').content
        with open(f'images/{line[0]}_r.jpg', 'wb') as f:
            f.write(img)
    except Exception as ex:
        print(line[0], line[22])

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30967 entries, 0 to 68674
Data columns (total 47 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   catalog                 30967 non-null  int64
 1   group                   30967 non-null  int64
 2   name                    30966 non-null  object
 3   yearstart               30967 non-null  int64
 4   metal                   30967 non-null  int64
 5   probe                   8995 non-null   float64
 6   procent                 112 non-null    object
 7   amount                  13285 non-null  float64
 8   size                    30965 non-null  float64
 9   thick                   2560 non-null   float64
 10  weight                  9242 non-null   float64
 11  condition               8734 non-null   float64
 12  herd                    1577 non-null   object
 13  averslegend             720 non-null    object
 14  translateaverslegend    0 non-null      float64
 15  reverselegend           732 non-null    object
 16  translatereverselegend  0 non-null      float64
 17  mint                    171 non-null    object
 18  designer                147 non-null    object
 19  officialdate            2545 non-null   object
 20  officialdate_period     30967 non-null  int64
 21  image_small_url         28450 non-null  object
 22  image_marker            30967 non-null  object
 23  shopcoins_for_image     30967 non-null  int64
 24  image_big_url           28429 non-null  object
 25  details                 26240 non-null  object
 26  km                      2878 non-null   object
 27  dateinsert              30967 non-null  int64
 28  user                    30967 non-null  int64
 29  agreement               30967 non-null  int64
 30  materialtype            30967 non-null  int64
 31  checkadmintype          30967 non-null  int64
 32  checkadmin              30967 non-null  int64
 33  sourceurl               74 non-null     object
 34  accessoryProducer       0 non-null      object
 35  accessoryColors         0 non-null      object
 36  accessorySize           0 non-null      object
 37  relationKM              30967 non-null  int64
 38  catalogpositionname     30967 non-null  int64
 39  shopcoinsimage          30967 non-null  int64
 40  android                 30967 non-null  int64
 41  mintid                  30967 non-null  int64
 42  seriesid                30967 non-null  int64
 43  saction                 30967 non-null  int64
 44  nominal_id              30967 non-null  int64
 45  pm                      30967 non-null  int64
 46  show_in_future          30967 non-null  int64
dtypes: float64(8), int64(22), object(17)
memory usage: 11.3+ MB

In [86]:
data = data.drop(data.columns[0], axis=1)

In [87]:
data.head(10)

   catalog  group        name  yearstart  metal  probe procent  amount  size  thick  weight  condition     herd averslegend  translateaverslegend reverselegend  translatereverselegend mint designer officialdate  officialdate_period image_small_url        image_marker  shopcoins_for_image image_big_url                                            details      km  dateinsert  user  agreement  materialtype  checkadmintype  checkadmin sourceurl accessoryProducer accessoryColors accessorySize  relationKM  catalogpositionname  shopcoinsimage  android  mintid  seriesid  saction  nominal_id  pm  show_in_future
0        1    362    1 флорин       1963      1    0.0     NaN     0.0   0.0    NaN   11.31        NaN      NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0        is/1.jpg  01/519/088/1519088                    0       i/1.jpg                                       Елизавета II      60  1162747903   811          1             1               1           1       NaN               NaN             NaN           NaN           1                  187         1519088        0       0         0        0          21   0               0
1        2    362    1 флорин       1954      1    0.0     NaN     0.0   0.0    NaN   11.31        NaN      NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0        is/2.jpg  01/538/562/1538562                    0       i/2.jpg    "11,31 грамм, 500 проба. Королевский визит"\r\n      55  1162748060   811          1             1               1           1       NaN               NaN             NaN           NaN           1                  187         1538562        0       0         0        0          21   0               0
2       12    389    1 флорин       1889      1    NaN     NaN     NaN   0.0    NaN     NaN        NaN      NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/12.jpg  01/655/607/1655607                    0      i/12.jpg                                        Франк Иосиф     NaN  1162749542   811          1             1               0           0       NaN               NaN             NaN           NaN           0                  895         1655607        0       0         0        0          21   0               0
3       13    362    1 доллар       2005      3    0.0     NaN     0.0   0.0    NaN    0.00        NaN      NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/13.jpg  01/680/304/1680304                    0      i/13.jpg                                       Елизавета II     NaN  1162818540   811          1             1               0           0       NaN               NaN             NaN           NaN           0                  168         1680304        0       0         0        0          11   0               0
4       19    362    1 доллар       2003      3    NaN     NaN     NaN   0.0    NaN     NaN        NaN      NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/19.jpg  01/616/814/1616814                    0      i/19.jpg                                       Елизавета II     NaN  1162823070   811          1             1               0           0       NaN               NaN             NaN           NaN           0                  168         1616814        0       0         0        0          11   0               0
5       20    362    1 доллар       2002      1    NaN     NaN     NaN   0.0    NaN     NaN        3.0      NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/20.jpg  01/480/249/1480249                    0      i/20.jpg  Цветная эмаль. Золотой юбилей. Елизавтета II 1...     NaN  1162823086   811          1             1               0           0       NaN               NaN             NaN           NaN           1                  168         1480249        0       0         0        0          11   0               0
6       21    362    1 доллар       2002      1    NaN     NaN     NaN   0.0    NaN     NaN        1.0      NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/21.jpg  01/678/736/1678736                    0      i/21.jpg                    Кукабурра (зимородок-хохотун).      NaN  1162823282   811          1             1               0           0       NaN               NaN             NaN           NaN           0                  168              -1        0       0         0        0          11   0               0
7       24    625    20 капик       1993      7    0.0     NaN     0.0  20.0    NaN    1.15        NaN  Гладкий         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/24.jpg  01/488/904/1488904                    0      i/24.jpg                                              KM#3a  KM# 3a  1162823426   811          1             1               1           0       NaN               NaN             NaN           NaN           1                 4654         1488904        0       0         0        0        1441   0               0
8       27    395  100 эскудо       1995      3    NaN     NaN     NaN   0.0    NaN     NaN        NaN      NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/27.jpg  01/537/426/1537426                    0      i/27.jpg                                100-летие автономии     NaN  1162823511   811          1             1               0           0       NaN               NaN             NaN           NaN           0                 1016         1537426        0       0         0        0          72   0               0
9       28    395  100 эскудо       1991      3    0.0     NaN     0.0   0.0    NaN    0.00        NaN      NaN         NaN                   NaN           NaN                     NaN  NaN      NaN          NaN                    0       is/28.jpg  01/580/780/1580780                    0      i/28.jpg                                          Олиенталь     NaN  1162823527   811          1             1               0           0       NaN               NaN             NaN           NaN           0                 1016         1580780        0       0         0        0          72   0               0

In [93]:
data[data.columns[:3]].to_csv('catalog.csv', index=False)

In [89]:
data[data[data.columns[0]].isna()]

Empty DataFrame
Columns: [catalog, group, name, yearstart, metal, probe, procent, amount, size, thick, weight, condition, herd, averslegend, translateaverslegend, reverselegend, translatereverselegend, mint, designer, officialdate, officialdate_period, image_small_url, image_marker, shopcoins_for_image, image_big_url, details, km, dateinsert, user, agreement, materialtype, checkadmintype, checkadmin, sourceurl, accessoryProducer, accessoryColors, accessorySize, relationKM, catalogpositionname, shopcoinsimage, android, mintid, seriesid, saction, nominal_id, pm, show_in_future]
Index: []

In [90]:
help(data.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf:Union[str, pathlib.Path, IO[~AnyStr], NoneType]=None, sep:str=',', na_rep:str='', float_format:Union[str, NoneType]=None, columns:Union[Sequence[collections.abc.Hashable], NoneType]=None, header:Union[bool, List[str]]=True, index:bool=True, index_label:Union[bool, str, Sequence[collections.abc.Hashable], NoneType]=None, mode:str='w', encoding:Union[str, NoneType]=None, compression:Union[str, Mapping[str, str], NoneType]='infer', quoting:Union[int, NoneType]=None, quotechar:str='"', line_terminator:Union[str, NoneType]=None, chunksize:Union[int, NoneType]=None, date_format:Union[str, NoneType]=None, doublequote:bool=True, escapechar:Union[str, NoneType]=None, decimal:Union[str, NoneType]='.', errors:str='strict') -> Union[str, NoneType] method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    .. versionchanged:: 0.24.0
        The order of arguments for Series was changed.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a file object is passed it should be opened with
        `newline=''`, disabling universal newlines.

        .. versionchanged:: 0.24.0

           Was previously named "path" for Series.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.

        .. versionchanged:: 0.24.0

           Previously defaulted to False for Series.

    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'.
    compression : str or dict, default 'infer'
        If str, represents compression mode. If dict, value at 'method' is
        the compression mode. Compression mode may be any of the following
        possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
        compression mode is 'infer' and `path_or_buf` is path-like, then
        detect compression mode from the following extensions: '.gz',
        '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
        and mode is one of {'zip', 'gzip', 'bz2'}, or inferred as
        one of the above, other entries passed as
        additional compression options.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip' and 'bz2'
           as well as 'zip'.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

        .. versionchanged:: 0.24.0
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP

In [94]:
df = pd.read_csv('catalog.csv', encoding='utf-8')
df.head(10)

   catalog  group        name
0        1    362    1 флорин
1        2    362    1 флорин
2       12    389    1 флорин
3       13    362    1 доллар
4       19    362    1 доллар
5       20    362    1 доллар
6       21    362    1 доллар
7       24    625    20 капик
8       27    395  100 эскудо
9       28    395  100 эскудо

In [95]:
df[df[df.columns[0]].isnull()]

Empty DataFrame
Columns: [catalog, group, name]
Index: []

In [13]:
data = data.drop(data.columns[1:], axis=1)

In [14]:
result = df.join(data)

In [15]:
result['catalog'].max()

79152.0

In [20]:
result[result['catalog'] == 37971]

       index  catalog
13646  14146  37971.0

In [17]:
result.head(50)

    index  catalog
0       0      1.0
1       1      2.0
2       2     12.0
3       3     13.0
4       4     19.0
5       5     20.0
6       7     21.0
7       8     24.0
8       9     27.0
9      10     28.0
10     11     29.0
11     12     30.0
12     13     32.0
13     14     35.0
14     15     37.0
15     16     44.0
16     17     46.0
17     18     49.0
18     19     53.0
19     20     54.0
20     21     60.0
21     22     62.0
22     23     66.0
23     24     67.0
24     25     71.0
25     26     72.0
26     27     73.0
27     28     74.0
28     29     75.0
29     30     79.0
30     31     80.0
31     33     82.0
32     34     83.0
33     36     85.0
34     37     89.0
35     39     94.0
36     40     96.0
37     41     97.0
38     42     98.0
39     43    101.0
40     44    102.0
41     45    103.0
42     46    104.0
43     47    105.0
44     48    106.0
45     49    107.0
46     50    108.0
47     51    109.0
48     52    110.0
49     53    111.0